@model LoginUser
<form asp-action="LoginUser" asp-controller="User" method="post" class="col-6">
    <h2>Login</h2>
    <div class="form-group mb-3">
        <label asp-for="LoginEmail"></label>
        <input asp-for="LoginEmail" class="form-control" value="iloveowen@gmail.com">
        <span asp-validation-for="LoginEmail" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="LoginPassword"></label>
        <input asp-for="LoginPassword" class="form-control" value="password">
        <span asp-validation-for="LoginPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-primary mt-3">Log In</button>
</form>
